body{
    background-color: hsl(210, 46%, 95%);
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    margin: 0;
    text-align: center;

}

.profile-pic{
    border: 2px solid hsl(0, 0%, 81%);
    border-radius: 100%;
    float: left;
    margin-right: 15px;
    width: 30px;
}

.quote-sign{
    position: absolute;
    top: 0;
    right: 25px;
    opacity: 0.5;
}

h2{
    color: hsl(0, 0%, 100%);
}



p{
    color: hsl(0, 0%, 70%);
    line-height: 1.5;
}


.name{
    color:hsl(0, 0%, 100%);
    margin:0;
}

.verified{
    color: hsl(0, 0%, 50%);
    font-size: 11.2px;
    margin: 0;
}



.daniel{
    background-color: hsl(263, 55%, 52%);
}

.jonathan{
    background-color: hsl(217, 19%, 35%);
}

.jeanette_kira{
    background-color: hsl(0, 0%, 100%);
}

.patrick{
    background-color: hsl(219, 29%, 14%);
}


.jean_kira_name{
    color: hsl(0, 0%, 40%);
}

.jean_kira_intro{
    color: hsl(0, 0%, 40%);
}

.jean_kira_verified{
    color: hsl(0, 0%, 70%);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-bottom: 20px;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width:768px) and (min-width:320px){
    .profile-container{
        border-radius: 10px;
        position: relative;
        padding: 20px 35px;
        text-align: left;
        margin: 20px 0;
    }
    
    .main-container{
        width: 325px;
        margin: 50px auto;
    }
}
@media screen and (max-width:1299px) and (min-width:769px) {

    .main-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 30px auto;
        width: 750px;
    }

    .profile-container{
        border-radius: 10px;
        position: relative;
        padding: 20px 35px;
        text-align: left;
        margin: 12px;
    }

    .jeanette{
        grid-column: span 2;
    }
    
  
}

@media screen and (min-width: 1300px) {
    .main-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 100px auto;
        width: 1100px;
    }

    .profile-container{
        border-radius: 10px;
        position: relative;
        padding: 20px 35px;
        margin: 12px;
        text-align: left;
    }

    .quote-sign{
        position: absolute;
        top: 0;
        right: 70px;
        opacity: 0.5;
    }

    .daniel{
        grid-column: span 2;
    }

    .jeanette{
        grid-column-start: 1;
    }

    .patrick{
        grid-column: span 2;
    }
    
    .kira{
        grid-column-start: 4;
        grid-row: 1 / span 2;
    }
    
}
